<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="headExtra">
    <meta charset="UTF-8" />
</th:block>

<div layout:fragment="content" class="container mt-4">
    <h2 class="h5 mb-3" th:text="|${cafe.name} 위치 인증|">위치 인증</h2>
    <div id="map" style="width:100%;height:70vh;"></div>
    <div class="mt-2 text-muted small">
        <p id="cafeLocation"></p>
        <p id="myLocation"></p>
        <p id="distanceInfo"></p>
    </div>
</div>

<th:block layout:fragment="bodyEndExtra">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var cafeAddress = [[${address1}]];
        var cafeId = [[${cafe.id}]];
        /*]]>*/
    </script>
    <script
            th:src="@{'https://dapi.kakao.com/v2/maps/sdk.js?appkey=8ed22f8047c9ec337686bbb083546da6&libraries=services&autoload=false'}"
            defer></script>
    <script th:src="@{/js/location-certify.js}" defer></script>
</th:block>
</html>
