<!DOCTYPE html>

<html lang="ko" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <title>마이 페이지</title>
        <link rel="stylesheet" th:href="@{/css/mypage-main.css}">
        <link rel="stylesheet" th:href="@{/css/menubar.css}">
    </head>
    <body>

    <div class="main_con">
        <div th:replace="~{mypage/mypage-menubar :: menubar}">

        </div>

        <div class="menu_text">
            메뉴를 선택해 주세요.
        </div>
    </div>
    </body>
</div>
</html>