<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 확인</title>
</head>
<body>
<div layout:fragment="content">
<h2>비밀번호 확인</h2>


<form th:action="@{/mypage/verify_password}" method="post" autocomplete="off">
    <input type="password" name="password" required autocomplete="current-password">
    <input type="hidden" name="continue" th:value="${continueUrl}">
    <button type="submit">확인</button>
</form>



<p th:if="${error}" th:text="${error}" style="color:red;"></p>
<script>
    // 1) BFCache로 돌아오면 새로고침(가장 확실)
    window.addEventListener('pageshow', function (e) {
      if (e.persisted) location.reload();
    });

    // 2) 혹시 몰라 URL의 continue를 hidden에 싱크 (BFCache에서 DOM 살아있을 때)
    (function syncContinueFromURL() {
      const params = new URLSearchParams(location.search);
      const cont = params.get('continue');
      const input = document.querySelector('input[name="continue"]');
      if (cont && input) input.value = cont;
    })();
</script>
</body>
</html>


