.container {
    width: 80rem;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 56px;
    font-family: 'Noto Sans KR';
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

h2 {
    letter-spacing: 0.4em;
}

        .form-row {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }
        .form-row label {
            width: 120px;
            text-align: right;
            margin-right: 80px;
        }
        .form-row input {
            width: 250px;
        }
        .validation-message {
            margin-left: 10px;
            font-size: 0.875rem;
        }
        .text-danger { color: #dc3545; }
        .text-success { color: #28a745; }
        .hidden { display: none; }

.phonenum .form-control {
    width: 150px !important;
}