        /* 전체 컨테이너 중앙 정렬 */
.container {
    max-width: 600px; /* 폼 너비 제한 */
    margin: 0 auto;   /* 화면 중앙 정렬 */
    padding-top: 50px; /* 위쪽 여백 */
    font-family: 'Noto Sans KR';
    padding-left: 50px;
    padding-right: 50px;
}
          .my-3 {
              border-radius: 20px;
              box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          }

.container.my-3 div a {
    text-decoration:none;
    color: inherit;
    width: 40%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 12px;
    background-color: #9A887B;
    color: white;
    border: none;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.form-wrapper > .form-label {
    font-size: 13px;
    color: #5f5f5f;
}
.container .find-pw-header-text {
        text-align: center;
        font-size: 26px;
        margin-bottom: 50px;
        letter-spacing: 0.4em;
        font-weight: bold;
}
 /* email 필드 스타일 */
input.form-control,
input.form-control-num {
    box-sizing: border-box;
    width: 100% !important;
    height: 48px !important;       /* 고정 높이 */
    padding: 12px 40px 12px 12px;  /* 오른쪽 clear 버튼 공간 확보 */
    border-radius: 12px !important;
    border: 1px solid #ccc !important;
    font-size: 16px !important;
    letter-spacing: normal !important;
    line-height: normal !important; /* 세로 가운데 문제 방지 */
}

input.form-control-num::placeholder {
    letter-spacing: 0.3em;
    color: #ccc;
}


  .input-with-clear {
    position: relative;
    display: block;
    width: 100%;
}

.input-with-clear input {
    padding-right: 30px; /* 버튼 공간 확보 */
    margin: 0;
}

.input-with-clear input.form-control {
    /* 부트스트랩 기본 스타일을 무시하고 강제 */
    box-sizing: border-box;
    width: 100% !important;
    height: 48px !important;
    padding: 12px 40px 12px 12px !important;
    border-radius: 12px !important;
    border: 1px solid #ccc !important;
    font-size: 16px !important;
    letter-spacing: normal !important;
}

.input-with-clear .clear-btn {
    position: absolute;
    right: 10px;
    top: 50% ;                /* 부모 높이 기준으로 */
    transform: translateY(-50%); /* 정확히 수직 가운데 정렬 */
    cursor: pointer;
    font-size: 16px;         /* 버튼 크기 조절 */
    color: #888;
    display: none;
    line-height: 1;
}

#username.form-control-num .clear-btn {
    transform: translateY(-30%);
}
/* 입력값이 있을 때만 버튼 표시 */
.input-with-clear input:not(:placeholder-shown) + .clear-btn {
    display: block;
}

button.btn-primary, button.btn-success {
              width: 40%;
              padding: 12px;
              margin-bottom: 5px;
              margin-top : 18px;
              border-radius: 12px;
              background-color: #9A887B;
              color: white;
              border: none;
              font-size: 16px;
              letter-spacing: 0.1em;
}

.btn-primary:hover, .btn-success:hover {
    background-color: #55453C;
}

/* 인증 필드 스타일 */
input.form-control-num::placeholder {
    letter-spacing: 0.1em;
    color: #ccc;
}

        .form-text {
            font-size: 13px;
        }