        /* 전체 컨테이너 중앙 정렬 */
          .container {
              max-width: 600px; /* 폼 너비 제한 */
              margin: 0 auto;   /* 화면 중앙 정렬 */
              padding-top: 50px; /* 위쪽 여백 */
              font-family: 'Noto Sans KR';
              padding-left: 50px;
              padding-right: 50px;
          }

          .my-3 {
              border-radius: 20px;
              box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          }

          .container .modify-pw-header-text{
              text-align: center;
              font-size: 24px;
              margin-bottom: 50px;
              letter-spacing: 0.4em;
              font-weight: bold;
          }

          .btn-success-pw {
              width: 40%;
              padding: 12px;
              margin-bottom: 5px;
              margin-top: 21px;
              border-radius: 12px;
              background-color: #9A887B;
              color: white;
              border: none;
              font-size: 16px;
              letter-spacing: 0.1em;
          }

          .btn-success-pw:hover {
              background-color: #55453C;
              color:white;
          }

          input.form-control-num {
              width: 100%;
              padding: 12px 10px;
              /*margin-bottom: 21px;*/
              border-radius: 12px;
              border: 1px solid #ccc;
              font-size: 16px;
              letter-spacing: normal;
          }

          input.form-control-num::placeholder {
              color: #ccc;
          }

          .input-with-toggle {
              position: relative;
              display: block;
          }

          .input-with-toggle input {
              width: 100%;
              padding-right: 35px; /* 버튼 공간 확보 */
          }
          .input-with-toggle input.form-control-num {
              /* 부트스트랩 기본 스타일을 무시하고 강제 */
              box-sizing: border-box;
              width: 100% !important;
              height: 48px !important;
              padding: 12px 40px 12px 12px !important;
              border-radius: 12px !important;
              border: 1px solid #ccc !important;
              font-size: 16px !important;
              letter-spacing: normal !important;
          }
          .input-with-toggle .toggle-btn {
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
              cursor: pointer;
              font-size: 20px;
              color: #888;
              display: none;
          }

          .modify-pw1 > small,
          .modify-pw2 > small  {
              font-size:13px;
              display: block;
              margin-left:4px;
              margin-top: 2px;
          }

          .mb-4 > .label-id {
              font-size : 20px;
              margin-left: 10px;
              color : #5f5f5f;
          }

          .text-box-pw2 {
              margin-top: 8px;
          }

        .form-text {
            font-size: 13px;
        }