

.container {
    width: 80rem;
    margin-top: 24px !important;
    margin-bottom: 56px !important;
    padding: 0 !important;
}

.main_con {
display: flex;
    gap: 20px;
}


.panel {
  display: flex;
  flex-direction: column;
  width: 65%;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,.06);
  text-align: center;
  align-content: center;
  align-items: center;
}
.panel .title {
    font-size: 24px;
    color: var(--brown-600)

}

.panel .subtitle {
    font-size: 12px;
}

.panel-body {
    width: 35%;
    justify-content: normal !important;

}

.panel-body form,
.panel-body p {
    text-align: center;
    align-content: center;
}


.row .col-sm-6,
.row .col-sm-6 button {
    all: unset;

}

.row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    width: 100%;
    margin: 0 !important;
}

.row .col-sm-6 {
    width: 35%;
}

.row .col-sm-6 button {
    cursor: pointer;
    border:1px solid rgb(228, 228, 228);
    width: 100%;
    border-radius: 10px;
}

.row .col-sm-6 .btn-primary {
  background: var(--cream);

}



.row .col-sm-6 button:hover {
  border:1px solid rgb(210, 210, 210);
}


.outer20-top {
    font-size: 12px;
}

