<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <link rel="stylesheet" th:href="@{/css/modify_password.css}">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    </head>

    <form id="resetPasswordForm" th:action="@{/user/modifyPassword}" method="post"
          onsubmit="return validateForm(event)">

        <div class="modify-pw-header-text"><h2>PASSWORD 변경</h2></div>

        <div class="mb-4">
            <label for="username" class="form-label label-id">ID</label>
            <input type="hidden" name="username" id="verifiedUserId" th:value="${username}">
            <input type="text" id="username" th:value="${username}" class="form-control-num" readonly>
        </div>

        <section class="modify-pw-box">
            <!--            <div class="modify-pw1 input-with-clear">-->
            <div class="modify-pw1 input-with-toggle">
                <input type="password" name="password" id="password" placeholder="새 비밀번호를 입력해주세요." class="form-control-num text-box-pw1" required>
                <i class="bi bi-eye toggle-btn"></i>
            </div>
            <small id="passwordError" class="form-text text-danger">
                8자 이상, 특수문자 1개 이상 포함/^(?=.*[!@#$%^&*(),.?:{}|]).{8,}$/;><</small>
            <div class="modify-pw2 input-with-toggle">
                <!--            <label for="passwordConfirm" class="form-label">비밀번호 확인</label>-->
                <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="비밀번호를 다시 한 번 입력해주세요." class="form-control-num text-box-pw2" required>
                <i class="bi bi-eye toggle-btn"></i>
            </div>
            <div>
                <small id="passwordConfirmError" class="form-text text-danger d-none">비밀번호 불일치</small>
            </div>
        </section>

        <button type="submit" class="btn btn-success-pw">변경하기</button>
    </form>
    <!-- 공통 알림 모달 -->
    <div class="modal fade" id="alertModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h5 class="modal-title">알림</h5></div>
                <div class="modal-body"><p id="alertMessage"></p></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/modify-password.js" defer></script>
</div>
</html>