<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="container my-3">
        <h2>아이디 찾기</h2>
        <hr style="border: outset 2px #bfbfbf;">
        <h4 style="line-height: 200%;">아이디 결과 확인</h4>
        <p style="line-height: 500%;">회원님의 아이디는 <strong th:text="${username}"></strong> 입니다.</p>
        <hr style="border: outset 1px #bfbfbf;">
        <a class="btn btn-primary" th:href="@{/user/login}">로그인하러 가기</a>
        <a class="btn btn-primary" th:href="@{/user/findPassword}">비밀번호 찾기</a>
    </div>
</div>
</html>